<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
      <div class="alert alert-danger" role="alert">
      Last Order
    </div>

        <div class="dbdata">
                    
                  <% @orderAll.each do |oderuser| %>
                  
                        <p>
                                <%= oderuser.order_type %>
                                : Order at 
                              <%= oderuser.created_at.strftime("%m/%d/%Y")%>
                                
                        </p>   
                        
                  <% end %>
                  
                  </div>
                
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
      <div class="alert alert-danger" role="alert">
      Friends Activity
    </div>

      <div class="dbdata">
      <% @friendsOrders.each do |oderuser| %>
          
        <p>
                <%= oderuser.user.email %>
                : Has Created An Order From
                <%= oderuser.restaurant%>
                
        </p>   
        
        <% end %>
      </div>
      </div>
    </div>
  </div>
</div>
