<div class="h3" style="background-color:lightskyblue;color:white">
    <p style="display:inline-block"><%= link_to 'Back', orders_path,:style=>'color: white;' %></p>
    <p style="display:inline-block;margin-left:35%">New Order</p>
</div>
<%= render 'form', order: @order %>
