.list-group{
    max-height: 600px;
    margin-bottom: 10px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
}
h1{
    margin-top: 30px;
    color: dodgerblue;
    margin-left: -50px;
}
.row{
    margin-top: 55px;
}
.controllers{
    float: right;
}
.myBorder{
    border: 2px solid black;
    height: 400px;
}
.groups:first-child{
    margin-top: 30px;
}
.groupsName{
    margin-left: 40px;
}